SERVER = 'http://apitest.cn.faceplusplus.com/'
#SERVER = 'http://apicn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

#API_KEY = '620e729d38237e62cde77a096a3cbb98'
#API_SECRET = '-C3ylqak460CkQMoR6rggOj3YXhNvQJr'

API_KEY = 'PBDGufho1Cvhb50Dkpy7YYCgCD3Uqs'
API_SECRET = 'COZgUqyVoChdLYjGAt6aZvc6VmOreO'